.contain {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.display {
  display: flex;
  margin-left: 70px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

button {
  padding: 14px 18px;
  background-color: #fe0202;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left:5px;
}

button:hover {
  background-color: #921818;
}
